<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Spring Boot </title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container mt-5" >
    <h3>HOME PAGE</h3>
    <p>
        <a href="/app/login">Login</a> or create one <a href="/user/list">User management</a>
    </p>
    <div class="row">
        <div class="col-4 navbar" >
            <a href="/bidList/list">Bid List</a>&nbsp;|&nbsp;
            <a href="/curvePoint/list">Curve Points</a>&nbsp;|&nbsp;
            <a href="/rating/list">Ratings</a>&nbsp;|&nbsp;
            <a href="/trade/list">Trade</a>|&nbsp;
            <a href="/ruleName/list">Rule</a>
        </div>
    </div>
    <div th:if="${welcomeMessage}" class="alert alert-success mt-3">
        <p th:text="${welcomeMessage}"></p>
    </div>
</div>
</body>
</html>